# Ingeniería de Características e Imputación de Datos

En este notebook practicaremos **ingeniería de características** (feature engineering) y repasaremos **imputación de datos**.

Usaremos el dataset `Houses.csv`, que contiene información de viviendas y su precio de venta (`SalePrice`).

Objetivos:

1. Identificar valores faltantes y aplicar técnicas de imputación con `SimpleImputer`.
2. Crear nuevas variables derivadas de columnas existentes con `MathFeatures` de `feature_engine`.
3. Transformar y preparar datos numéricos y categóricos para futuros modelos.

Librerías clave:
```python
from sklearn.impute import SimpleImputer
from feature_engine.creation import MathFeatures

In [1]:
pip install feature_engine

Collecting feature_engine
  Downloading feature_engine-1.9.3-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: numpy>=1.18.2 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from feature_engine) (2.2.6)
Requirement already satisfied: pandas>=2.2.0 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from feature_engine) (2.3.2)
Collecting scikit-learn>=1.4.0 (from feature_engine)
  Downloading scikit_learn-1.7.2-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting scipy>=1.4.1 (from feature_engine)
  Downloading scipy-1.15.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting statsmodels>=0.11.1 (from feature_engine)
  Downloading statsmodels-0.14.5-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from pandas>=2.2.0->feature_engine) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from pandas>=2.2.0->feature_engine) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from pandas>=2.2.0->feature_engine) (2025.2)
Requirement already satisfied: six>=1.5 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->feature_engine) (1.17.0)
Collecting joblib>=1.2.0 (from scikit-learn>=1.4.0->feature_engine)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn>=1.4.0->feature_engine)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Collecting patsy>=0.5.6 (from statsmodels>=0.11.1->feature_engine)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: packaging>=21.3 in /home/daniel/diplomado_2025/lib/python3.10/site-packages (from statsmodels>=0.11.1->feature_engine) (25.0)
Downloading feature_engine-1.9.3-py3-none-any.whl (229 kB)
Downloading scikit_learn-1.7.2-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.7/9.7 MB 11.3 MB/s  0:00:00a 0:00:01[36m0:00:01:01
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.15.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.7/37.7 MB 11.4 MB/s  0:00:03 eta 0:00:01[36m0:00:01
Downloading statsmodels-0.14.5-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 11.4 MB/s  0:00:00.7 MB/s eta 0:00:01:01
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, patsy, joblib, scikit-learn, statsmodels, feature_engine
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [feature_engine] 6/7 [feature_engine]els]]
Successfully installed feature_engine-1.9.3 joblib-1.5.2 patsy-1.0.1 scikit-learn-1.7.2 scipy-1.15.3 statsmodels-0.14.5 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Cargar el dataset
df = pd.read_csv("Houses.csv")

# Mostrar las primeras filas
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## 1. Inspección inicial del dataset

Primero observaremos la estructura del dataset, tipos de datos y valores faltantes.

In [4]:
# Tamaño del dataset
print("Filas y columnas:", df.shape)

# Tipos de datos
print("\nTipos de datos:\n", df.dtypes.head())

# Resumen general
df.info()

# Estadísticas básicas
df.describe().T.head(10)

Filas y columnas: (1460, 81)

Tipos de datos:
 Id               int64
MSSubClass       int64
MSZoning        object
LotFrontage    float64
LotArea          int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

,count,mean,std,min,25%,50%,75%,max
Id,1460.0,730.500000,421.610009,1.0,365.75,730.5,1095.25,1460.0
MSSubClass,1460.0,56.897260,42.300571,20.0,20.00,50.0,70.00,190.0
LotFrontage,1201.0,70.049958,24.284752,21.0,59.00,69.0,80.00,313.0
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.50,9478.5,11601.50,215245.0
OverallQual,1460.0,6.099315,1.382997,1.0,5.00,6.0,7.00,10.0
OverallCond,1460.0,5.575342,1.112799,1.0,5.00,5.0,6.00,9.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.00,1973.0,2000.00,2010.0
YearRemodAdd,1460.0,1984.865753,20.645407,1950.0,1967.00,1994.0,2004.00,2010.0
MasVnrArea,1452.0,103.685262,181.066207,0.0,0.00,0.0,166.00,1600.0
BsmtFinSF1,1460.0,443.639726,456.098091,0.0,0.00,383.5,712.25,5644.0

## 2. Identificación de valores faltantes

Buscaremos las columnas con valores nulos y sus porcentajes.

In [5]:
missing = df.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)
missing_percent = (missing / len(df)) * 100
pd.DataFrame({'Valores faltantes': missing, '%': missing_percent}).head(10)

              Valores faltantes          %
PoolQC                     1453  99.520548
MiscFeature                1406  96.301370
Alley                      1369  93.767123
Fence                      1179  80.753425
MasVnrType                  872  59.726027
FireplaceQu                 690  47.260274
LotFrontage                 259  17.739726
GarageType                   81   5.547945
GarageYrBlt                  81   5.547945
GarageFinish                 81   5.547945

## 3. Imputación de datos numéricos

Utilizaremos `SimpleImputer` de `sklearn` para rellenar valores faltantes en columnas numéricas.

In [6]:
from sklearn.impute import SimpleImputer

# Seleccionamos columnas numéricas
num_cols = df.select_dtypes(include=np.number).columns

# Imputador con mediana
imputer_num = SimpleImputer(strategy='most_frequent')

df[num_cols] = imputer_num.fit_transform(df[num_cols])

# Verificar que ya no haya nulos numéricos
df[num_cols].isnull().sum().sum()

np.int64(0)

## 4. Imputación de datos categóricos

Para columnas categóricas, usaremos la moda (el valor más frecuente).

In [7]:
cat_cols = df.select_dtypes(exclude=np.number).columns

imputer_cat = SimpleImputer(strategy='most_frequent')

df[cat_cols] = imputer_cat.fit_transform(df[cat_cols])

# Confirmar
df[cat_cols].isnull().sum().sum()

np.int64(0)

## 5. Creación de características con `MathFeatures`

Usaremos `feature_engine.creation.MathFeatures` para generar variables combinadas:

- `TotalArea = 1stFlrSF + 2ndFlrSF + GrLivArea`
- `BathRoomsTotal = FullBath + HalfBath + BsmtFullBath + BsmtHalfBath`
- `AgeHouse = YrSold - YearBuilt`

In [9]:
from feature_engine.creation import MathFeatures

# Creamos un subconjunto con columnas relevantes
features = ['1stFlrSF', '2ndFlrSF', 'GrLivArea']

math_feature = MathFeatures(variables=features, func='sum', new_variables_names=['TotalArea'])
df = math_feature.fit_transform(df)

# Nueva variable manualmente
df['BathRoomsTotal'] = df['FullBath'] + df['HalfBath'] + df['BsmtFullBath'] + df['BsmtHalfBath']

# Edad de la casa
df['AgeHouse'] = df['YrSold'] - df['YearBuilt']

df[['TotalArea', 'BathRoomsTotal', 'AgeHouse']].head()

   TotalArea  BathRoomsTotal  AgeHouse
0     3420.0             4.0       5.0
1     2524.0             3.0      31.0
2     3572.0             4.0       7.0
3     3434.0             2.0      91.0
4     4396.0             4.0       8.0

## 6. Escalamiento (opcional)

Podemos escalar variables creadas si el rango difiere mucho respecto a otras.

In [10]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['TotalArea', 'AgeHouse']] = scaler.fit_transform(df[['TotalArea', 'AgeHouse']])

df[['TotalArea', 'AgeHouse']].describe()

          TotalArea      AgeHouse
count  1.460000e+03  1.460000e+03
mean  -1.545187e-16  5.110068e-17
std    1.000343e+00  1.000343e+00
min   -2.255226e+00 -1.208604e+00
25%   -7.396757e-01 -9.440523e-01
50%   -1.043691e-01 -5.118902e-02
75%    5.055826e-01  5.771222e-01
max    7.902025e+00  3.288781e+00

## 7. Resumen

En este ejercicio:

- Imputamos valores faltantes numéricos (mediana) y categóricos (moda).
- Creamos nuevas variables (`TotalArea`, `BathRoomsTotal`, `AgeHouse`).
- Preparamos el dataset para modelado posterior.

La **ingeniería de características** es una de las etapas más importantes del preprocesamiento, ya que transforma los datos en información útil para los modelos.